[load_balancer]
loadbalancer1 ansible_host=172.16.16.51 ansible_user=debian
loadbalancer2 ansible_host=172.16.16.52 ansible_user=debian

[control_plane]
kcontrolplane1 ansible_host=172.16.16.101 ansible_user=debian
kcontrolplane2 ansible_host=172.16.16.102 ansible_user=debian
kcontrolplane3 ansible_host=172.16.16.103 ansible_user=debian

[workers]
kworker1 ansible_host=172.16.16.201 ansible_user=debian
kworker2 ansible_host=172.16.16.202 ansible_user=debian
kworker3 ansible_host=172.16.16.203 ansible_user=debian

[all:vars]
ansible_ssh_private_key_file=~/.ssh/id_ed25519

